<form action="/" method="post" class="d-flex flex-column justify-content-center align-items-center">
  <div class="mb-3" style="width: 250px;">
    <input type="password" class="form-control-lg border border-secondary" placeholder="Email" id="email" name="email">
  </div>
  <div class="mb-3" style="width: 250px;">
    <input type="password" class="form-control-lg border border-secondary" placeholder="Password" id="password" name="password">
  </div>
  <div class="mx-auto">
    <button type="submit" class="btn btn-outline-secondary btn-lg justify-content-center">Sign in</button>  
  </div>

</form>